extends layout.pug

append css
  link(rel='stylesheet', href='/stylesheets/content.css')
append js
  script(src="/javascripts/content.js")    
block content
  div(id="shade")
  nav(class="navbar navbar-default navbar-fixed-top navbar-inverse")
    div(class="container")
      ul
        li
          strong 欢迎 #{user.name}
        li
          form(action="/logOut" method="get")
            button(class="btn btn-warning") 退出登录
        li
          form(action="/" method="get")
            button(class="btn btn-primary") 返回首页   
  div#conten-box
    table(class="table")
        tr
          td(id="content_title")
            span= contentData.title
            div
              span= contentData.time
              span= contentData.username
        tr
          td
            span(class="user_content")= contentData.content
            if(contentData.isContentUser)
              button(type="button" class="btn btn-danger btn-xs delete_content" data-dismiss="modal" style="float:right;margin:25px 0px 0 20px")="删除"
            div.ico
              label
                - var contentG = contentGreat 
                input(type="checkbox" class="ico-click" checked=contentG)
                div(class="ico-1 content-ico")
              span #{contentData.greatNumber}
        each val in commentData
          tr
            td(class="comment_box")
              if (val.sumComments > 0)
                div.switch
                  button(class="btn btn-block btn-xs") 展开评论
              else
                div.switch(style="display:none")
                  button(class="btn btn-block btn-xs") 展开评论
              span(class="user_comment")= val.comment
              div(class="comments")
                span(style="display:none")= val.id
                span= val.time
                span= val.username
                if(user.name === val.username)
                  button(type="button" class="btn btn-danger btn-xs delete-btn delete_comment" data-dismiss="modal")="删除"
                span(class="sumComments")= val.sumComments
                button(class="btn_comments_Comments comment-btn" type="button" class="btn btn-primary btn-xs" )="评论"
                div.ico
                  label
                    - var great = val.great
                    input(type="checkbox" class="ico-click" checked=great)
                    div(class="ico-1")
                  span #{val.greatNumber}
                div(class="commentsComments")
                  form(class="form-horizontal" action="/add_commentsComments" method="post")
                    div(class="form-group")
                      div(class="nopadding")
                        button(type="button" class="btn btn-primary  btn-block") 评论&nbsp;&nbsp;&nbsp;#{val.username}
                    div(class="form-group")
                      div(class="nopadding")
                        textarea(class="form-control submit_text" rows="10"  style="resize:none" name="content" autocomplete="off")
                    div(class="form-group")
                      div(class="col-sm-offset-2  nopadding")
                        button(class="submit_content" type="submit" class="btn btn-success btn-block") 提交评论
                div(class="comment_comment_box")
                  ul
                    li.clone(style="display:none")
                      span
                      br 
                      span
                      div(class="reply_tip")
                        span(style="float:right; margin:1px 15px 0 0")
                        button(type="button" class="btn btn-xs  temp")
                        button(type="button" class="btn btn-xs  btn-success lookTalk" style="display:none") 查看对话 
                      div(class="reply_text" style="display:none")
                          input(type="text" maxlength="number")
                          button(class="btn btn-xs notClick "  disabled) 提交
                          button(class="btn btn-xs") 取消
                          span(style="display:none")
                  ul(style="" class="lookTalk_container")
                    li.clone_lookTalk(style="display:none")
                      span
                      br 
                      span(style="font-size:16px")
                      br 
                      span(style="float:right")
                  button(class="return btn btn-primary" style="display:none" onclick='btn_return(this)') 返  回
  div(class="submit_content_box")
    div#arrows(onselectstart="return false") 
      span 评论
    form(class="form-horizontal" action="/add_comment" method="post")
      div(class="form-group")
        div(class="nopadding")
          textarea(class="form-control submit_text" rows="10"  style="resize:none" name="content"  autocomplete="off")
      div(class="form-group")
        div(class="col-sm-offset-2  nopadding")
          button(class="submit_content" type="submit" class="btn btn-success btn-block") 提交评论
  button(style="display:none" type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm" )
  div(class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="modal_tip")
    div(class="modal-dialog modal-sm" role="document")
      div(class="modal-content")
        div(class="modal-header")
          h3(class="modal-title" id="gridSystemModalLabel")
            span
        div(class="modal-body" style="font-size:18px; text-indent:20px;")
          span
        div(class="modal-footer")
          button(type="button" class="btn btn-block Close-modal" data-dismiss="modal")="Close"


